body {
    margin: 0;
    font-family: 'Prata', serif;
  }
  
.header{
    background-color: #6278F7;
    text-align: center;
}

.header img {
    max-width: 100%;
}
.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    border: none;
    color: #ffffff;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}
.colaborador {
    width: 280px;
    margin-bottom: 24px;
    position: relative;
}

.colaborador .encabezado {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .info {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
    min-height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.colaborador .info h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .info h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 24px;
    font-weight: 400;
    margin: 0;
}

.eliminar{
    position: absolute;
    right: -15px;
    top: -15px;
}
.equipo{
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    position: relative;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 50px;
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.encabezado{
    background-color: var(--darkreader-inline-bgcolor) !important;
    border-radius: 10px 10px 0px 0px;
    --darkreader-inline-bgcolor: #328a5d;
}


.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}

.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.formulario form{
    background-color: #f7f7f7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
    border-radius: 20px;
    padding: 8px 100px;
    flex:1;
}

.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: #212121;
}

.campo{
    margin: 24px 0;
    font-family: 'Montserrat', sans-serif;
}

.campo label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.campo input{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border:none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
    box-sizing: border-box;
}


.campo-color input{
    height: 40px;
    padding: 5px 20px;
}

.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
}

.lista-opciones select{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    outline-color: #6278F7;
    font-size: 16px;
}


.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: #6278F7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;;
}

.orgSection img{
    position: absolute;
    right: 30%;
    cursor: pointer;
}